<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center">Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item lines="full">
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input
            type="text"
            name="txtNombre"
            [(ngModel)]="newProfesor.nombre"
            placeholder="Ingrese nombre"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Email:</ion-label>
          <ion-input
            type="text"
            name="txtEmail"
            [(ngModel)]="newProfesor.email"
            placeholder="Ingrese email"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input
            type="password"
            name="txtPassword"
            [(ngModel)]="newProfesor.password"
            placeholder="Ingrese contraseña"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label>Asignaturas que imparte:</ion-label>
          <ion-checkbox
            *ngFor="let asignatura of asignaturas"
            [(ngModel)]="asignatura.selected"
            >{{ asignatura.nombre }}</ion-checkbox
          >
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button (click)="crearProfesor()" expand="block" color="primary"
              >Registrarse</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
