<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center">Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registroForm">
        <ion-item>
          <ion-label position="floating">Nombre: </ion-label>
          <ion-input
            type="text"
            placeholder=""
            formControlName="nombre"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email: </ion-label>
          <ion-input
            type="email"
            placeholder="nombre.apellido@profesor.duoc.cl"
            formControlName="email"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password: </ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Asignaturas: </ion-label>
          <ion-select formControlName="asignaturas" [multiple]="true">
            <ion-select-option value="Programación"
              >Programación</ion-select-option
            >
            <ion-select-option value="Inglés">Inglés</ion-select-option>
            <ion-select-option value="Física">Física</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button (click)="registrarUsuario()" expand="block" shape="round">
          Crear Usuario
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
