<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <qrcode
        [qrdata]="qrCodeString"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </ion-card-content>
  </ion-card>

  <form #formRef="ngForm">
    <ion-item>
      <ion-label position="floating">Asignatura: </ion-label>
      <ion-select name="asignatura" [(ngModel)]="asignatura">
        <ion-select-option value="Programación">Programación</ion-select-option>
        <ion-select-option value="Inglés">Inglés</ion-select-option>
        <ion-select-option value="Física">Física</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      (click)="generarQR()"
      expand="block"
      color="primary"
      shape="round"
    >
      Generar QR
    </ion-button>
  </form>
</ion-content>
